DB_USER=postgres
DB_PASSWORD=your_aws_password_here
DB_HOST=db-mycotrack.xxxxxxxxxxxx.eu-north-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_SSL=true
SENTRY_DSN=https://anothernumber.ingest.de.sentry.io/somenumber
